.logo {
  width: 400px;
  height: auto;
}

.text {
  color: crimson;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#myCheckbox {
  background-color: rgb(82, 190, 82);
  padding: 5px;
}


#banWordButton {
  background-color: crimson;
  padding: 5px;
}